body {
    background-color: #84BD00;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#form-bg {
    background-color: #141313;
    width: 41.475vw;
    height: 39.302vw;
    position: relative;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 1.646vw;
    flex-direction: column;
}

#form-bg h2 {
    font-size: 1.646vw;
    font-weight: 600;
    position: relative;
    bottom: 4.279vw;

}



#form-bg img {
    width: 11.718vw;
    height: 11.718vw;
    border-radius: 1.317vw;
    position: relative;
    bottom: 0.987vw;
}

.form-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-bottom: 0.658vw;
}

#form-bg input {
    width: 26.333vw;
    height: 3.028vw;
    border-radius: 1.317vw;
    margin-bottom: 0.658vw;
    font-size: 1.053vw;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}

.form-group ::-webkit-input-placeholder {
    font-size: 1.053vw;
    font-weight: 600;
    position: relative;
    left: 1.317vw;
    top: 0.066vw;
}



article {
    position: relative;
    bottom: 2.633vw;
}


    
