.Main-container2 {
    display: flex;
    position: relative;
    justify-content: center;
    min-height: 65.1vh;
     /* Hide any content that overflows the container */
}
.Main-container2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 116%; /* Adjust this value to control the background growth */
    background-color: #141313;
    z-index: -1; /* Send the pseudo-element to the background */
}
/* 

If you want the background of the container to grow more than the table when the table content exceeds the maximum height, you can modify 
the CSS by setting the background on a pseudo-element (::before or ::after) of the .Main-container2 element. 
This pseudo-element will be responsible for creating the background, while the table inside will maintain its size.
*/
.Main-container2 table {
    background-color: #141313;
    width: 100%; /* Make the table extend to the entire width of the container */
    border-collapse: collapse; /* Remove space between table cells */
    margin-left: 13.020833333333334vw;
    max-height: 100%; /* Set a maximum height for the table */
    overflow-y: auto; /* Add vertical scroll if the table exceeds the maximum height */
}

.Main-container2 th {
    padding:  0.6510416666666666vw; /* Add padding for spacing between cells */
    text-align: left; /* Adjust text alignment */
    color: #EDEFEE;
    font-size: 1.171875vw;
    font-weight: 400;
}

.Main-container2 tr{
 position: relative;
 bottom: 0.8vw;    
} 

.Main-container2 td {
    padding: 0.6510416666666666vw;
    left: 2.6041666666666665vw;
    text-align: left;
    padding-left: 0.8138020833333334vw;
    color: #FFFFFF;
    font-size: 1.3020833333333333vw;
    font-weight: 500;
    margin-top: -1.3020833333333333vw;
    
}



.Main-container2 td img {
    width: 40px;
    height: 40px;
    display: block; /* Make the image occupy an entire column */
    margin: 0 auto; /* Center the image horizontally within the cell */
}


/* Add some additional styling for alternate row colors (optional) */

@media  (max-width: 800px) {
    .Main-container2 {
        background-color: #141313;
        min-height: 68vh;
    }
    .MusicPlayer-container4 {
        padding-bottom: 20px;
        background-color: #141313;
        text-align: center;
        margin-top: 420px;
       
    }
    .Main-container2::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 136%; /* Adjust this value to control the background growth */
        background-color: #141313;
        z-index: -1; /* Send the pseudo-element to the background */
    }
    
}

