/* Container for the music player */
.Music-Player-container {
    background-color: black;
    width: 100%; /* Set the width to 100% to occupy the entire width of the screen */
    height: 7.291666666666667vw;
    display: flex; /* Use flexbox to arrange the content in a row */
    align-items: center; /* Center vertically within the container */
    padding: 0;
    margin: 0;
    position: absolute;
   z-index: 2;
    
}

.MusicPlayer-container2{
    background-color: black;
    width: 100%; /* Set the width to 100% to occupy the entire width of the screen */
    height: 8.529166666666667vw;
    display: flex; /* Use flexbox to arrange the content in a row */
    align-items: center; /* Center vertically within the container */
    padding: 0;
    margin: 0;
    position: fixed;
    top: 38.606770833333336vw;
   z-index: 10000;
}

/*.MusicPlayer-container3 {
    background-color: black;
    width: 100%;
    height: 8.188rem;
    display: flex;
    align-items: center;
    position: fixed;
    padding: 0;
    margin: 0;
    top: 600px;
    z-index: 100000;
}*/

/* Adjusting margin for input elements inside the container */
.Music-Player-container input {
    margin-left: 0.6510416666666666vw;
}

/* Container for album information */
.Album-info {
    display: flex;
    align-items: center; /* Center vertically within the container */
    margin-left: 2.01875vw; /* Adjust margin */
    
}

/* Styling for the album cover image */
.Album-info img {
    width:  5.208333333333333vw;
    height:  5.208333333333333vw;
    margin-right: 0.9770833333333333vw; /* Add margin to separate the image from buttons */
    position: relative;
    left: 3.2552083333333335vw;
}

/* Styling for the album title */
.Album-info h1 {
    font-size: 1.6281249999999998vw;
    width: 15.625vw;
    display: inline-block;
    font-weight: 600;
    margin-bottom: 1.3020833333333333vw;
    margin-top: -1.953125vw;
    color: #EDEFEE;
    position: absolute;
    left: 10.579427083333334vw;
    white-space: nowrap;

}

/* Styling for additional information (p) */
.Album-info p {
    justify-content: flex-start; /* Not necessary, as it's a paragraph element */
    width: 10.416666666666666vw;
    margin-top: 3.2552083333333335vw;
    font-size: 1.171875vw;
    font-weight: 400;
    color: #EDEFEE;
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.1);
    opacity: 0.6; /* Used to specify the transparency of the color */
    position: absolute;
    margin-top:  3.5807291666666665vw;
    left: 13.020833333333334vw;
    overflow: hidden;
    white-space: nowrap;
}

/* Container for music player buttons */
.music-layer-buttons {
    display: flex; /* Display the buttons in a row */
    margin-left: auto; /* Push the buttons to the right */
    margin-left: 25.833333333333332vw; /* Adjusting margin */
}

/* Styling for the buttons' images */
/* Styling for the buttons' images */
.music-layer-buttons img {
    width: 2.6041666666666665vw;
    height: 2.6041666666666665vw;
    margin-left: 3.90625vw; /* Add margin to separate the buttons */
    padding: 0rem; /* Remove padding */
    position: relative;
    bottom: 1.3020833333333333vw;
    cursor: pointer;
    transition: transform 0.3s ease; /* Add a smooth transition effect */
}

.music-layer-buttons img:hover {
    transform: scale(1.2); /* Scale the button on hover */
}

/* Adjusting margin for the sixth button */
.music-layer-buttons img:nth-child(6) {
    margin-left:  17.708333333333332vw;
    margin-right: 0;
}

.music-layer-buttons img:nth-child(3) {
    transition: ease-out 0.3s;
}


/* Styling for the music progression bar */
#progresion-music {
    position: absolute;
    top:  5.15625vw;
    left: 25.729166666666668vw;
    width: 52.083333333333336vw;
    bottom: 1.5625vw;
    border-radius: 0.6510416666666666vw; 
}

/* Styling for the volume progression bar */
#progresion-volume {
    margin-right: 0vw;
    position: relative;
    bottom: 1.3020833333333333vw;
}
