.Playlist-container2 {
    background-color: #FFC7D1;
    height: 19.53125vw;
    padding-top: 0.3255208333333333vw;
}

.Playlist-info2 {
    display: flex;
    justify-content: center;
    margin-top: 3.2552083333333335vw;
    margin-left: -29.947916666666668vw;
    position: relative;
}

.Playlist-info_b2 input {
    position: relative;
    top: 6.575520833333333vw;
    left: 5.533854166666667vw;
    width: 39.0625vw;
    height:  3.2552083333333335vw;
    border-radius: 1.6276041666666667vw; /* Increased border-radius for a smoother look */
    outline: none;
    background-color: #e8e8e8; /* Lighter background color */
    border: 2px solid #FF7395; /* Pink border for contrast */
    color: #333333; /* Darker text color for better readability */
    padding-left: 1.3020833333333333vw; /* Adjusted padding for better spacing */
    font-size: 1.3020833333333333vw;
    font-weight: 600;
    font-family: 'Pacifico',cursive;
}

/* Style the placeholder text for better visibility */
.Playlist-info_b2 input::placeholder {
    font-weight: 700;
    font-size: 1.171875vw; /* Slightly reduced placeholder font size */
    position: relative;
    top: 0.06510416666666667vw;
    left: 0.3255208333333333vw;
}

.Playlist-info_b2 img {
    position: relative;
    left:  8.7890625vw;
    top:  7.6171875vw;
    width:  2.6041666666666665vw;
    height:  2.6041666666666665vw;
    z-index: 2;
}

/* Add a CSS rule to hide the placeholder when interacting with the input field */
.Playlist-info_b2 input:focus {
    transition: transform 0.3s ease;
}

.Login2 {
    background-color: #413F3F;
    width: 11.71875vw;
    height: 3.4505208333333335vw;
    border-radius: 1.3020833333333333vw;
    color: #FFFFFF;
    font-size: 1.6276041666666667vw;
    font-weight: 500;
    position: absolute;
    top: 1.6276041666666667vw;
    right: 3.2552083333333335vw;
    padding-left: 1.8229166666666667vw;
}

.Login-section2 img {
    width: 2.5390625vw;
    height: 2.5390625vw;
    position: absolute;
    top: 2.0833333333333335vw;
    right: 11.71875vw;
    z-index: 2;
}
