/* SearchResults.css */

.Main-container1 {
    display: flex;
    justify-content: center;
    background-color: #141313;
    position: relative;
    width: 79.36197916666667vw; /* Set the width and height for .Main-container */
    height:  100vh;
}

.Main-songs1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 3.2552083333333335vw;
    margin-left: -3.2552083333333335vw;
    margin-top:  1.953125vw;
}

.Main-songs1 img {
    width: 13.020833333333334vw;
    height: 13.020833333333334vw;
    
}

.music-img-hidden{
    position: absolute;
    right: 0px;
    top: 10.416666666666666vw;
    right:  0.3255208333333333vw;
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 3;
}

.music-img-hidden img{
    width: 4.231770833333333vw;
    height: 4.231770833333333vw;
    z-index: 4;
    transition: opacity 0.3s;
}

.music-card-bg:hover .music-img-hidden{
    opacity: 1;
    z-index: 3;
}

@media (max-width:800px){
    .Main-container1{
        display: flex;
        justify-content: center;
        background-color: #141313;
        position: relative;
        height: 90vh;
    }
    .MusicPlayer-container2{
        margin-top: 10px;
    }
    
}