.Sidebar-container{
    display: flex;
    text-align: start;
    align-items: left;
    background-color: #141313;
    flex-direction: column; /* Make sure the sidebar's children stack vertically */
    height: 79.2vh; /* Set the sidebar's height to 100% of the viewport height */
    padding: 20px; /* Add padding as needed */
    top: -40px;
    position: absolute;
    z-index: 400;
}

.Sidebar-container ul{
    margin-top: -40px;
    list-style: none;
}

.Sidebar-Links li{
    padding-top: 30px;
    margin-bottom: 20px;
}

.Sidebar-Links li:first-child{
    margin-left: -15px;
    padding-top: 10px;
    margin-bottom: -50px;
}


.Sidebar-Links li:first-child img{
   width: 200px;
   height: 200px;
   align-items: left;
   margin-left: 0px;
   margin-top: 0px;
   
}

.Sidebar-Links li:nth-child(3) img{
    width: 25px;
    height: 23px;
}

.Sidebar-Links li img{
    width: 25px;
    height: 25px;
    align-items: left;
    margin-left: 14px;
}

.Sidebar-Links img{
    margin-bottom: -3px;
}

.Sidebar-container a{
    color: aliceblue;
    text-decoration: none;
    font-size: 22px;
    font-weight: 500;
    margin-left: 10px;
   
}